/* custom */
.icon-circle-orange {
    background-color: #FDE3E4;
    color: #D23A3B;
}

.features-section,
.stats-section {
    background-color: var(--color-section-bg);
}

/* Navbar */
.navbar-logo {
    width: auto;
    height: 40px;
}

.nav-link {
    position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

@media (min-width:992px) {
    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background: var(--color-primary);
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .navbar-nav .nav-link.active::after,
    .navbar-nav .nav-link:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}

/* Hero section */
.hero {
    background: var(--color-section-bg);
    width: 100%;
}

.hero p {
    max-width: 400px;
}

.hero h1 {
    font-weight: 900;
}

.hero-btn {
    color: var(--color-primary);
    border-color: var(--color-primary);
    transition: all 0.2s ease;
}

.hero-btn:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.hero span {
    font-size: 14px;
}

.hero .hero-img {
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(80, 60, 160, 0.12);
}

/* Trusted Team section */
.trustedteam-section img {
    width: 130px;
    height: auto;
}

/* Features section */


.feature-card {
    border: 1px solid var(--color-border);
}

.features-section .icon-circle {
    width: 55px;
    height: 55px;
    margin-bottom: 12px;
}

/* How it work section */

.howitwork-section img {
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(80, 60, 160, 0.12);
    border: 1px solid var(--color-border);
}

.step-number {
    font-size: 18px;
    font-weight: 800;
}

.step-circle {
    background-color: var(--color-primary);
    color: white;
}

.howitwork-section .icon-circle {
    position: relative;
}

.step-item:not(:last-child) .icon-circle::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 40px;
    bottom: -47px;
    background-color: var(--color-border);
}

/* Stats section */
.stat-item {
    text-align: center;
}

.stat-item h2 {
    color: var(--color-primary);
    font-weight: 700;
}

.stat-item {
    flex: 1;
    position: relative;
    text-align: center;
}

.stats-list .stat-item:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: var(--color-border);
    width: 3px;
    height: 60px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}