.navbar-logo {
    width: auto;
    height: 40px;
}

.nav-link {
    position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

@media (min-width:992px) {
    .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background: var(--color-primary);
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .navbar-nav .nav-link.active::after,
    .navbar-nav .nav-link:hover::after {
        transform: translateX(-50%) scaleX(1);
    }
}

.hero {
    background: var(--color-section-bg);
    width: 100%;
}

.hero p {
    max-width: 400px;
}

.hero h1 {
    font-weight: 900;
}

.hero-btn {
    color: var(--color-primary);
    border-color: var(--color-primary);
    transition: all 0.2s ease;
}

.hero-btn:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.hero span {
    font-size: 14px;
}

.hero .hero-img {
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(80, 60, 160, 0.12);
}

.trustedteam-section img {
    width: 130px;
    height: auto;
}